<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <link rel=icon href=./favicon.ico type=image/x-icon>
        <link rel="shortcut icon" href=./favicon.ico type=image/x-icon>
        <title>喵呜网</title>
        <link href=./static/css/app.c91d5506da32039859d10f7628cb0437.css rel=stylesheet>
    </head>
    <body>
        <div id=app></div>
        <script type=text/javascript src=./static/js/manifest.969d6ad4fe7f2a002126.js></script>
        <script type=text/javascript src=./static/js/vendor.ad5037e6a82b6bff8ec9.js></script>
        <script type=text/javascript src=./static/js/app.44da2b750a51c7dd0991.js></script>
    </body>
    <script></script>
    </html>